In [17]:
# Alright lets see what this is all about
import numpy as np
import pandas as pd
import sklearn

In [70]:
#LOAD GIS WATERMAIN AND BREAK DATA
df = pd.read_csv('Kirk_All.csv')
#df.dropna(inplace=True) # Are there any columns where we can deal with NA values?
# Can we use imputation instead?
breaks = pd.read_csv('Kirk_Break_Data.csv')
df['INSTYEAR'] = df['INSTYEAR'].map(lambda x: int((str(x)[-12:-8])), na_action='ignore')
#df = pd.get_dummies(df)
df

,FID,FID_WA_Mai,TYPE,LENGTH,DIAMETER,MATERIAL,INSTYEAR,MUSYM,Dist_Rail,SLP_CLASS,FULL_STRNA,SPEED,FUNC_CLASS
0,0,1,FIRE,2.0,8.0,UNK,NaN,Ur,6000,2.0,120TH AVE NE,25,MINOR ARTERIAL
1,1,2,FIRE,2.0,2.0,UNK,1992.0,AgC,7000,1.0,122ND LN NE,25,NEIGHBORHOOD ACCESS
2,2,3,FIRE,1.0,0.0,UNK,NaN,AgC,6000,0.0,124TH AVE NE,35,PRINCIPAL ARTERIAL
3,3,4,FIRE,3.0,6.0,DI,2005.0,Ur,4000,0.0,LAKE WASHINGTON BLVD NE,35,PRINCIPAL ARTERIAL
4,4,5,FIRE,149.0,8.0,AC,1963.0,Ur,7000,6.0,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
41816,41816,3963,DIST,1.0,12.0,DI,1971.0,No,9000,0.0,120TH AVE NE,25,COLLECTOR
41817,41817,5622,DIST,1.0,8.0,DI,2003.0,AgC,10000,2.0,117TH AVE NE,25,NEIGHBORHOOD ACCESS
41818,41818,5623,DIST,1.0,8.0,DI,2003.0,AgC,10000,2.0,117TH AVE NE,25,NEIGHBORHOOD ACCESS
41819,41819,1093,DIST,83.0,12.0,DI,2009.0,AgC,5000,0.0,NE 115TH PL,35,COLLECTOR
41820,41820,6299,DIST,18.0,12.0,DI,NaN,AgC,5000,0.0,NE 115TH PL,35,COLLECTOR

In [20]:
# EXTRACTING FEATURES
features = ['FID_WA_Mai', 'TYPE', 'LENGTH', 'DIAMETER', 'MATERIAL', 'INSTYEAR', 'MUSYM', 'Dist_Rail', 'SLP_CLASS', 'FULL_STRNA', 'SPEED', 'FUNC_CLASS']
pipes = df[features]
pipes

,FID_WA_Mai,TYPE,LENGTH,DIAMETER,MATERIAL,INSTYEAR,MUSYM,Dist_Rail,SLP_CLASS,FULL_STRNA,SPEED,FUNC_CLASS
0,1,FIRE,2.0,8.0,UNK,NaN,Ur,6000,2.0,120TH AVE NE,25,MINOR ARTERIAL
1,2,FIRE,2.0,2.0,UNK,1992.0,AgC,7000,1.0,122ND LN NE,25,NEIGHBORHOOD ACCESS
2,3,FIRE,1.0,0.0,UNK,NaN,AgC,6000,0.0,124TH AVE NE,35,PRINCIPAL ARTERIAL
3,4,FIRE,3.0,6.0,DI,2005.0,Ur,4000,0.0,LAKE WASHINGTON BLVD NE,35,PRINCIPAL ARTERIAL
4,5,FIRE,149.0,8.0,AC,1963.0,Ur,7000,6.0,,,
...,...,...,...,...,...,...,...,...,...,...,...,...
41816,3963,DIST,1.0,12.0,DI,1971.0,No,9000,0.0,120TH AVE NE,25,COLLECTOR
41817,5622,DIST,1.0,8.0,DI,2003.0,AgC,10000,2.0,117TH AVE NE,25,NEIGHBORHOOD ACCESS
41818,5623,DIST,1.0,8.0,DI,2003.0,AgC,10000,2.0,117TH AVE NE,25,NEIGHBORHOOD ACCESS
41819,1093,DIST,83.0,12.0,DI,2009.0,AgC,5000,0.0,NE 115TH PL,35,COLLECTOR
41820,6299,DIST,18.0,12.0,DI,NaN,AgC,5000,0.0,NE 115TH PL,35,COLLECTOR

In [135]:

model_feats = [
    'DIAMETER',
    'MATERIAL',
    'INSTYEAR',
    'Dist_Rail',
    'Break_Year'

]
filt_breaks = breaks[model_feats]

filt_breaks

    DIAMETER MATERIAL INSTYEAR  Dist_Rail  Break_Year
0          6       CI      NaN        NaN        2004
1          8       AC      NaN    15000.0        2004
2          6       AC      NaN    15000.0        2004
3          8       AC     1976     7000.0        2004
4         12       AC     1968    12000.0        2004
..       ...      ...      ...        ...         ...
63         8       AC      NaN        NaN        2017
64         6       AC      NaN        NaN        2018
65         6       AC      NaN        NaN        2019
66         6       AC      NaN        NaN        2019
67         6       AC      NaN        NaN        2019

[68 rows x 5 columns]

In [137]:
filt_breaks['Break_Year'].map(lambda x: int(x), na_action='ignore')
#filt_breaks.dropna()
filt_breaks = filt_breaks[filt_breaks['INSTYEAR'] != '1959, 1963']
filt_breaks['INSTYEAR'] = filt_breaks['INSTYEAR'].map(lambda x: float(x), na_action='ignore')
filt_breaks['AGE'] = filt_breaks['Break_Year'] - filt_breaks['INSTYEAR']
filt_breaks.dropna()

    DIAMETER  MATERIAL  INSTYEAR  Dist_Rail  Break_Year   AGE
3          8        AC    1976.0     7000.0        2004  28.0
4         12        AC    1968.0    12000.0        2004  36.0
5          6        AC    1949.0    14000.0        2004  55.0
6          8        AC    1977.0     5000.0        2004  27.0
7          6        AC    1963.0     9000.0        2004  41.0
8          8        DI    1990.0    13000.0        2004  14.0
10         6        AC    1968.0    12000.0        2005  37.0
11         6        AC    1949.0    13000.0        2005  56.0
14         6        AC    1994.0     5000.0        2005  11.0
15         6        AC    1968.0    13000.0        2005  37.0
19         8        AC    1968.0    14000.0        2006  38.0
20        10        AC    1971.0    11000.0        2006  35.0
23         4        AC    1991.0    12000.0        2007  16.0
24         4        AC    1968.0    12000.0        2007  39.0
25         4        AC    1968.0    12000.0        2007  39.0
26         4        AC    1968.0    12000.0        2007  39.0
27         6        AC    1963.0     8000.0        2008  45.0
28         4        AC    1968.0    12000.0        2008  40.0
29         6        AC    1968.0    13000.0        2008  40.0
30        16  Conc cyl    1970.0    10000.0        2008  38.0
31         6        AC    1968.0    13000.0        2008  40.0
34         6        AC    1949.0    14000.0        2008  59.0
36         6        AC    1960.0    15000.0        2008  48.0
37         8        DI    1979.0     8000.0        2008  29.0
38         4        AC    1965.0     8000.0        2008  43.0

In [12]:
# GROUP PIPES BY THEIR UNIQUE ID - NEEDED BECAUSE OF HOW SLOPE BREAKS UP PIPES IN DIFFERENT SLOPE CLASSES
def group_by_id(df):

    grouping = df.groupby('FID_WA_Mai').groups
    unique_pipes = df['FID_WA_Mai'].unique()
    indices = []
    for i in range(len(unique_pipes)):
        pipe = unique_pipes[i]
        val = grouping[pipe][0]
        indices.append(val)
    
    # CALCULATE AVERAGE SLOPES FOR PIPES THAT GOT SPLIT INTO MULTIPLE ROWS
    slopes = df[['FID_WA_Mai', 'SLP_CLASS']]
    slopes = slopes.groupby('FID_WA_Mai')['SLP_CLASS'].mean()
    slopes = pd.Series(slopes)

    filtered = df.loc[indices, 'FID_WA_Mai':'FUNC_CLASS']
    filtered = filtered.drop('SLP_CLASS', axis=1)
    filtered['SLOPE'] = slopes.values

    return filtered

In [138]:
filtered = group_by_id(pipes)
filtered

KeyError: "['SLP_CLASS'] not in index"

In [39]:
from sklearn import impute
impute.

In [109]:
# CALCULATE AVERAGE SLOPES FOR PIPES THAT GOT SPLIT INTO MULTIPLE ROWS
slopes = df[['FID_WA_Mai', 'SLP_CLASS']]
slopes = slopes.groupby('FID_WA_Mai')['SLP_CLASS'].mean()
slopes = pd.Series(slopes)

In [141]:
# REMOVE SLP_CLASS COLUMN, ADD AVERAGE SLOPE SEREIS FOR EACH UNIQUE PIPE
filtered = df.loc[indices, 'FID_WA_Mai':'FUNC_CLASS']
filtered = filtered.drop('SLP_CLASS', axis=1)
filtered['SLOPE'] = slopes.values

filtered

,FID_WA_Mai,TYPE,LENGTH,DIAMETER,MATERIAL,INSTYEAR,MUSYM,Dist_Rail,FULL_STRNA,SPEED,FUNC_CLASS,SLOPE
1,2,FIRE,2.0,2.0,UNK,1992,AgC,7000,122ND LN NE,25,NEIGHBORHOOD ACCESS,1.000000
3,4,FIRE,3.0,6.0,DI,2005,Ur,4000,LAKE WASHINGTON BLVD NE,35,PRINCIPAL ARTERIAL,0.000000
4,5,FIRE,149.0,8.0,AC,1963,Ur,7000,,,,3.888889
22,6,FIRE,1.0,12.0,DI,1978,Ur,6000,120TH AVE NE,25,MINOR ARTERIAL,1.000000
23,7,FIRE,1.0,6.0,DI,2002,AmC,13000,1ST ST,25,NEIGHBORHOOD ACCESS,2.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
41801,7742,DIST,15.0,8.0,DI,2017,AgD,5000,96TH AVE NE,25,NEIGHBORHOOD ACCESS,0.785714
41804,7743,DIST,296.0,8.0,AC,1943,AgC,9000,NE 68TH ST,25,MINOR ARTERIAL,4.000000
41816,3963,DIST,1.0,12.0,DI,1971,No,9000,120TH AVE NE,25,COLLECTOR,4.000000
41817,5622,DIST,1.0,8.0,DI,2003,AgC,10000,117TH AVE NE,25,NEIGHBORHOOD ACCESS,3.000000
41818,5623,DIST,1.0,8.0,DI,2003,AgC,10000,117TH AVE NE,25,NEIGHBORHOOD ACCESS,0.777778

In [154]:
filtered[filtered['LENGTH'] > 10.0]

,FID_WA_Mai,TYPE,LENGTH,DIAMETER,MATERIAL,INSTYEAR,MUSYM,Dist_Rail,FULL_STRNA,SPEED,FUNC_CLASS,SLOPE
4,5,FIRE,149.0,8.0,AC,1963,Ur,7000,,,,3.888889
29,13,FIRE,12.0,4.0,UNK,1997,KpB,7000,NE 62ND ST,25,NEIGHBORHOOD ACCESS,3.000000
75,53,FIRE,33.0,4.0,UNK,1991,AmC,13000,5TH AVE,25,NEIGHBORHOOD ACCESS,1.666667
105,79,FIRE,30.0,8.0,DI,1991,AgC,6000,CARILLON PT,10,NEIGHBORHOOD ACCESS,2.600000
129,99,FIRE,127.0,4.0,DI,2003,AgC,5000,113TH PL NE,10,NEIGHBORHOOD ACCESS,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
41778,7738,DIST,128.0,8.0,DI,2020,InC,11000,8TH ST S,25,COLLECTOR,1.428571
41785,7739,DIST,431.0,8.0,DI,2020,AgC,6000,NE 90TH ST,25,COLLECTOR,0.600000
41799,7740,DIST,12.0,8.0,DI,2001,AgD,5000,96TH AVE NE,25,NEIGHBORHOOD ACCESS,2.000000
41801,7742,DIST,15.0,8.0,DI,2017,AgD,5000,96TH AVE NE,25,NEIGHBORHOOD ACCESS,0.785714
41804,7743,DIST,296.0,8.0,AC,1943,AgC,9000,NE 68TH ST,25,MINOR ARTERIAL,4.000000

In [135]:
break_1_8_04 = filtered[(filtered['FULL_STRNA'] == '7TH AVE') & (filtered['INSTYEAR'].equals(2003))]
break_1_8_04

Empty DataFrame
Columns: [FID_WA_Mai, TYPE, LENGTH, DIAMETER, MATERIAL, INSTYEAR, MUSYM, Dist_Rail, FULL_STRNA, SPEED, FUNC_CLASS, SLOPE]
Index: []

In [204]:
break_1_9_04 = filtered[(filtered['FULL_STRNA'] == '16TH AVE W')] #& (filtered['INSTYEAR'] < 2005) & (filtered['INSTYEAR'] > 2003)]
break_1_9_04 = break_1_9_04[break_1_9_04['INSTYEAR'] == 2004]
break_1_9_04

nearby = filtered[(filtered['FULL_STRNA'] == '16TH AVE W') & (filtered['INSTYEAR'] != 2004) & (filtered['Dist_Rail'] == 15000) & (filtered['DIAMETER'] == 8.0)] 
nearby

similar = filtered[(filtered['DIAMETER'] == 8.0) & (filtered['MATERIAL'] == 'AC') & (filtered['MUSYM'] == 'AmC')]
print(similar['FULL_STRNA'].unique())

similar = similar[(similar['FULL_STRNA'] == '17TH AVE W')]
similar

['10TH AVE' 'KIRKLAND CIR' '4TH ST' '17TH AVE W' '9TH AVE' '5TH AVE'
 '3RD ST' 'KIRKLAND WAY' '8TH LN' '15TH AVE' 'KIRKLAND AVE' 'NE 68TH ST'
 '19TH AVE' '8TH AVE' 'NE 45TH ST' ' ' '1ST ST' 'NE 44TH ST' 'NE 68TH PL'
 '6TH ST' '106TH AVE NE' '6TH AVE' '5TH ST' '7TH AVE' '109TH PL NE'
 '10TH AVE S' '5TH AVE S' 'LAKEVIEW DR' '5TH ST S' '6TH ST S' 'STATE ST S']

,FID_WA_Mai,TYPE,LENGTH,DIAMETER,MATERIAL,INSTYEAR,MUSYM,Dist_Rail,FULL_STRNA,SPEED,FUNC_CLASS,SLOPE
3851,709,DIST,34.0,8.0,AC,1968,AmC,14000,17TH AVE W,25,NEIGHBORHOOD ACCESS,0.5

In [205]:
break_1_21_04 = filtered[(filtered['FULL_STRNA'] == '16TH AVE W') & (filtered['INSTYEAR'] == 2004)]
break_1_21_04

nearby = filtered[(filtered['FULL_STRNA'] == '16TH AVE W') & (filtered['INSTYEAR'] != 2004)] #& (filtered['Dist_Rail'] == 15000) & (filtered['DIAMETER'] == 6.0)] 


similar = filtered[(filtered['DIAMETER'] == 8.0) & (filtered['MATERIAL'] == 'AC') & (filtered['MUSYM'] == 'AmC')]
print(similar['FULL_STRNA'].unique())

similar = similar[(similar['FULL_STRNA'] == '17TH AVE W')]
similar

['10TH AVE' 'KIRKLAND CIR' '4TH ST' '17TH AVE W' '9TH AVE' '5TH AVE'
 '3RD ST' 'KIRKLAND WAY' '8TH LN' '15TH AVE' 'KIRKLAND AVE' 'NE 68TH ST'
 '19TH AVE' '8TH AVE' 'NE 45TH ST' ' ' '1ST ST' 'NE 44TH ST' 'NE 68TH PL'
 '6TH ST' '106TH AVE NE' '6TH AVE' '5TH ST' '7TH AVE' '109TH PL NE'
 '10TH AVE S' '5TH AVE S' 'LAKEVIEW DR' '5TH ST S' '6TH ST S' 'STATE ST S']

,FID_WA_Mai,TYPE,LENGTH,DIAMETER,MATERIAL,INSTYEAR,MUSYM,Dist_Rail,FULL_STRNA,SPEED,FUNC_CLASS,SLOPE
3851,709,DIST,34.0,8.0,AC,1968,AmC,14000,17TH AVE W,25,NEIGHBORHOOD ACCESS,0.5

In [197]:
break_2_25_04 = filtered[(filtered['FULL_STRNA'] == 'NE 59TH ST')]
break_2_25_04

# THIS WILL LIKELY NEED TO BE altered in data set

,FID_WA_Mai,TYPE,LENGTH,DIAMETER,MATERIAL,INSTYEAR,MUSYM,Dist_Rail,FULL_STRNA,SPEED,FUNC_CLASS,SLOPE
22011,3634,DIST,1.0,8.0,AC,1976,KpB,7000,NE 59TH ST,25,NEIGHBORHOOD ACCESS,1.000000
22012,3635,DIST,5.0,12.0,AC,1971,KpB,7000,NE 59TH ST,25,NEIGHBORHOOD ACCESS,1.000000
39310,6927,DIST,261.0,8.0,AC,1976,KpB,7000,NE 59TH ST,25,NEIGHBORHOOD ACCESS,2.586207

In [42]:
break_1_04_07 = pipes[(pipes['INSTYEAR'] == 2007) & (pipes['FULL_STRNA'].str.contains('2ND'))]
(break_1_04_07)

nearby = pipes[(pipes['INSTYEAR'] < 2007) & (pipes['DIAMETER'] == 4) & (pipes['MATERIAL'] == 'AC') & (pipes['FULL_STRNA'].str.contains('2ND AVE')) & (pipes['Dist_Rail'] == 12000)]
nearby

,FID_WA_Mai,TYPE,LENGTH,DIAMETER,MATERIAL,INSTYEAR,MUSYM,Dist_Rail,FULL_STRNA,SPEED,FUNC_CLASS,SLOPE
26578,4438,DIST,197.0,4.0,AC,1991.0,AmC,12000,2ND AVE S,25,NEIGHBORHOOD ACCESS,1.5
40951,7457,DIST,164.0,4.0,AC,1991.0,AmC,12000,2ND AVE S,25,NEIGHBORHOOD ACCESS,3.0
40953,7458,DIST,2.0,4.0,AC,1991.0,AmC,12000,2ND AVE S,25,NEIGHBORHOOD ACCESS,0.0
40954,7459,DIST,3.0,4.0,AC,1991.0,AmC,12000,2ND AVE S,25,NEIGHBORHOOD ACCESS,1.5
40955,7460,DIST,2.0,4.0,AC,1991.0,AmC,12000,2ND AVE S,25,NEIGHBORHOOD ACCESS,0.5

In [52]:
break_10_08_07 = pipes[(pipes['INSTYEAR'] == 2009) & (pipes['FULL_STRNA'].str.contains('9TH AVE'))]
break_10_08_07

,FID_WA_Mai,TYPE,LENGTH,DIAMETER,MATERIAL,INSTYEAR,MUSYM,Dist_Rail,FULL_STRNA,SPEED,FUNC_CLASS,SLOPE
15914,2593,DIST,4.0,12.0,DI,2009.0,AmC,12000,9TH AVE,25,NEIGHBORHOOD ACCESS,1.0
15915,2594,DIST,4.0,12.0,DI,2009.0,AmC,12000,9TH AVE,25,NEIGHBORHOOD ACCESS,1.0
16042,2606,DIST,4.0,12.0,DI,2009.0,AmC,12000,9TH AVE,25,NEIGHBORHOOD ACCESS,1.0
23601,3893,DIST,4.0,12.0,DI,2009.0,AmC,12000,9TH AVE,25,NEIGHBORHOOD ACCESS,1.0
24474,4073,DIST,4.0,12.0,DI,2009.0,AmC,12000,9TH AVE,25,NEIGHBORHOOD ACCESS,0.8
24507,4078,DIST,59.0,12.0,DI,2009.0,AmC,12000,9TH AVE,25,NEIGHBORHOOD ACCESS,1.0
24510,4079,DIST,415.0,12.0,DI,2009.0,AmC,12000,9TH AVE,25,NEIGHBORHOOD ACCESS,1.0
24527,4081,DIST,9.0,12.0,DI,2009.0,AmC,12000,9TH AVE,25,NEIGHBORHOOD ACCESS,1.0

In [69]:
break_11_2_07 = pipes[(pipes['INSTYEAR'] == 2008) & (pipes['FULL_STRNA'] == '20TH AVE')]
break_11_2_07

nearby = pipes[(pipes['INSTYEAR'] < 2007) & (pipes['FULL_STRNA'] == '20TH AVE')]
nearby

similar = pipes[(pipes['MATERIAL'] == 'AC') & (pipes['DIAMETER'] == 4) & (pipes['MUSYM'] == 'InC') & (pipes['Dist_Rail'] >= 10000)]
nearby

,FID_WA_Mai,TYPE,LENGTH,DIAMETER,MATERIAL,INSTYEAR,MUSYM,Dist_Rail,FULL_STRNA,SPEED,FUNC_CLASS,SLOPE
9492,1616,DIST,622.0,6.0,AC,1968.0,InC,12000,20TH AVE,25,NEIGHBORHOOD ACCESS,1.058824
9509,1617,DIST,1.0,6.0,AC,1968.0,InC,12000,20TH AVE,25,NEIGHBORHOOD ACCESS,0.000000
10655,1820,DIST,182.0,8.0,DI,1993.0,InC,11000,20TH AVE,25,NEIGHBORHOOD ACCESS,2.125000
10663,1821,DIST,272.0,8.0,DI,1993.0,InC,11000,20TH AVE,25,NEIGHBORHOOD ACCESS,2.800000
10698,1823,DIST,32.0,6.0,AC,1968.0,InC,12000,20TH AVE,25,NEIGHBORHOOD ACCESS,0.000000
15501,2536,DIST,270.0,8.0,DI,2005.0,InC,12000,20TH AVE,25,NEIGHBORHOOD ACCESS,2.600000
35749,6006,DIST,12.0,8.0,DI,2005.0,InC,12000,20TH AVE,25,NEIGHBORHOOD ACCESS,3.000000
35750,6007,DIST,294.0,8.0,DI,1993.0,InC,12000,20TH AVE,25,NEIGHBORHOOD ACCESS,2.000000
36467,6138,DIST,592.0,8.0,DI,1997.0,AmC,13000,20TH AVE,25,NEIGHBORHOOD ACCESS,1.842105