In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as datetime

In [11]:
pipes_database = pd.read_csv('/Users/nelsschimek/Documents/IIDC/Water Pipe Project/Water-Pipe-Project/Water-Pipe-Project/data/Tacoma_Pipe_Data.csv')
breaks = pd.read_csv('/Users/nelsschimek/Documents/IIDC/Water Pipe Project/Water-Pipe-Project/Water-Pipe-Project/data/Tacoma_Break_Data.csv')

print(pipes_database.shape)
print(breaks.shape)

(313739, 57)
(6844, 94)

In [12]:
pipes_database.head()

,OBJECTID,Join_Count,gridcode,FACILITYID,INSTALLDATE,MATERIAL,DIAMETER,OWNEDBY,PIPECLASS,PIPESTATUS,...,Join_Count_12_13_14_15_16_17_18_19_20,Join_Count_12_13_14_15_16_17_18_19_20_21,Join_Count_12_13_14_15_16_17_18_19_20_21_22,Join_Count_12_13_14_15_16_17_18_19_20_21_22_23,Join_Count_12_13_14_15_16_17_18_19_20_21_22_23_24,Join_Count_12_13_14_15_16_17_18_19_20_21_22_23_24_25,Join_Count_12_13_14_15_16_17_18_19_20_21_22_23_24_25_26,Join_Count_12_13_14_15_16_17_18_19_20_21_22_23_24_25_26_27,Join_Count_12_13_14_15_16_17_18_19_20_21_22_23_24_25_26_27_28,Join_Count_12_13_14_15_16_17_18_19_20_21_22_23_24_25_26_27_28_29
0,1,1,25,M-0019378,1/3/1994 0:00,DIP,8,1,SP CL 52,0,...,0,0,0,0,0,0,0,0,0,0
1,2,1,4,M-0019378,1/3/1994 0:00,DIP,8,1,SP CL 52,0,...,0,0,0,0,0,0,0,0,0,0
2,3,1,3,M-0019378,1/3/1994 0:00,DIP,8,1,SP CL 52,0,...,0,0,0,0,0,0,0,0,0,0
3,4,1,12,M-0019378,1/3/1994 0:00,DIP,8,1,SP CL 52,0,...,0,0,0,0,0,0,0,0,0,0
4,5,1,10,M-0019378,1/3/1994 0:00,DIP,8,1,SP CL 52,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
breaks.head()

,FID,x,MaintPlant,Notificati,Order_,Descriptio,Notif_date,Req__start,Required_E,Functional,...,Sales_Orde,AvailAftTa,AvailAftMa,AvailBefMa,Address,Latitude,Longitude,Refernece,NEAR_FID,NEAR_DIST
0,0,W1,2000,20000214150,0,Invest Leak,10/23/2020 0:00,10/23/2020 0:00,10/24/2020 0:00,W-G-203081-SRV-288,...,,0,0,0,"103 E 56TH ST, TACOMA, WA, 98404",47.206568,-122.431056,10/23/2020 0:00,134343,0.000180
1,1,W1,2000,20000214120,20000096441,Main Break 7302 S.Alaska St.,10/22/2020 0:00,10/22/2020 0:00,10/23/2020 0:00,W-G-203115-PIP,...,,0,0,0,"7310 S ALASKA ST, TACOMA, WA, 98408",47.190734,-122.458089,10/22/2020 0:00,39746,0.000227
2,2,W1,2000,20000214110,0,S 73RD & ALASKA ST - INV POSS LEAK,10/22/2020 0:00,10/22/2020 0:00,10/23/2020 0:00,W-G-203115-SVL-011,...,,0,0,0,"7302 S ALASKA ST, TACOMA, WA, 98408",47.190935,-122.458125,10/22/2020 0:00,39757,0.000207
3,3,W1,2000,20000214001,0,7309 46th St Ct W - Invest poss leak,10/20/2020 0:00,10/20/2020 0:00,10/21/2020 0:00,W-G-202060-SRV-059,...,,0,0,0,"7309 46TH STREET CT W, UNIVERSITY PLACE, WA, 9...",47.215108,-122.535125,10/20/2020 0:00,232094,0.000237
4,4,W1,2000,20000213618,0,S 64TH & PACIFIC - INV LEAK,10/19/2020 0:00,10/19/2020 0:00,10/20/2020 0:00,W-L-P064TM-000-080,...,,0,0,0,"6400 PACIFIC AVE S, TACOMA, WA, 98408",47.177254,-122.434079,10/19/2020 0:00,47360,0.000052

In [15]:
pipes_database['Break_Yr'] = np.nan
pipes_database['Target'] = 0

In [16]:
pipes_database.head()

,OBJECTID,Join_Count,gridcode,FACILITYID,INSTALLDATE,MATERIAL,DIAMETER,OWNEDBY,PIPECLASS,PIPESTATUS,...,Join_Count_12_13_14_15_16_17_18_19_20_21_22,Join_Count_12_13_14_15_16_17_18_19_20_21_22_23,Join_Count_12_13_14_15_16_17_18_19_20_21_22_23_24,Join_Count_12_13_14_15_16_17_18_19_20_21_22_23_24_25,Join_Count_12_13_14_15_16_17_18_19_20_21_22_23_24_25_26,Join_Count_12_13_14_15_16_17_18_19_20_21_22_23_24_25_26_27,Join_Count_12_13_14_15_16_17_18_19_20_21_22_23_24_25_26_27_28,Join_Count_12_13_14_15_16_17_18_19_20_21_22_23_24_25_26_27_28_29,Break_Yr,Target
0,1,1,25,M-0019378,1/3/1994 0:00,DIP,8,1,SP CL 52,0,...,0,0,0,0,0,0,0,0,NaN,0
1,2,1,4,M-0019378,1/3/1994 0:00,DIP,8,1,SP CL 52,0,...,0,0,0,0,0,0,0,0,NaN,0
2,3,1,3,M-0019378,1/3/1994 0:00,DIP,8,1,SP CL 52,0,...,0,0,0,0,0,0,0,0,NaN,0
3,4,1,12,M-0019378,1/3/1994 0:00,DIP,8,1,SP CL 52,0,...,0,0,0,0,0,0,0,0,NaN,0
4,5,1,10,M-0019378,1/3/1994 0:00,DIP,8,1,SP CL 52,0,...,0,0,0,0,0,0,0,0,NaN,0

In [17]:
a_list = []

for index, row in breaks.iterrows():
    #print(row)
    pipe_id = row['NEAR_FID'] # Location column
    if pipe_id != -1:
        real_pipe = pipes_database[pipes_database['OBJECTID'] == pipe_id]
        new_row = real_pipe.copy()
        new_row['Target'] = 1
        new_row['Break_Yr'] = row['Notif_date']
        #new_row['Width'] = row['Size'] # column name might be specific to csv columns
        #new_row['TARGET_FID'] = -1
        a_list.append(new_row)
    
        
    # street_standard = (''.join([c for c in street if c.isalpha()])).lower()
    # for index, row in pipes_database.i:
    #     all_street = all_row['TARGET_FID'] # FULL_STRNA column
    #     # if all_street_standard in street_standard:
    #     #     possible_pipes = break_refs.setdefault(row, [])
    #     #     possible_pipes.append(all_row[1])
new_data = pipes_database.append(pd.concat(a_list))

print(pipes_database.shape)

(313739, 59)

0                       NaN
1                       NaN
2                       NaN
3                       NaN
4                       NaN
                ...
56365    8/13/2013 15:02:28
40139    7/17/2013 17:15:48
62255     8/21/2013 2:25:24
54147    8/31/2013 11:06:25
30715     9/4/2013 12:58:17
Name: DATE, Length: 71320, dtype: object

In [70]:
print(set(new_data['ARTCLASS']))

nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan}

In [18]:
# This creates the dataset for visualizations
new_data.to_csv('tacoma_datavis_data.csv', header=True, index=False)

Now, we start prepping the dataset to be used for Machine Learning

In [19]:

frederick = new_data

In [50]:
frederick = pd.read_csv('/Users/nelsschimek/Documents/IIDC/Water Pipe Project/Water-Pipe-Project/Water-Pipe-Project/data/tacoma_datavis_data.csv')
frederick.columns

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (57) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Index(['OBJECTID', 'Join_Count', 'gridcode', 'FACILITYID', 'INSTALLDATE',
       'MATERIAL', 'DIAMETER', 'OWNEDBY', 'PIPECLASS', 'PIPESTATUS', 'Mid_X',
       'Mid_y', 'WATERTYPE2', 'WATERSUBTYPE', 'NEAR_FID', 'NEAR_DIST',
       'FID_ActualTacomaSoil', 'AREASYMBOL', 'SPATIALVER', 'MUSYM', 'MUKEY',
       'musym_1', 'muname', 'NAME', 'TYPE', 'SUFDIR', 'LZIP', 'RZIP', 'PC_ID',
       'DATE_', 'RLOG', 'FM', 'TM', 'LCITY', 'RCITY', 'FULLNAME', 'SHAPE_Leng',
       'Shape_Length', 'Join_Count_1', 'Join_Count_12', 'Join_Count_12_13',
       'Join_Count_12_13_14', 'Join_Count_12_13_14_15',
       'Join_Count_12_13_14_15_16', 'Join_Count_12_13_14_15_16_17',
       'Join_Count_12_13_14_15_16_17_18', 'Join_Count_12_13_14_15_16_17_18_19',
       'Join_Count_12_13_14_15_16_17_18_19_20',
       'Join_Count_12_13_14_15_16_17_18_19_20_21',
       'Join_Count_12_13_14_15_16_17_18_19_20_21_22',
       'Join_Count_12_13_14_15_16_17_18_19_20_21_22_23',
       'Join_Count_12_13_14_15_16_17_18_19_20_21_22_23_24',
       'Join_Count_12_13_14_15_16_17_18_19_20_21_22_23_24_25',
       'Join_Count_12_13_14_15_16_17_18_19_20_21_22_23_24_25_26',
       'Join_Count_12_13_14_15_16_17_18_19_20_21_22_23_24_25_26_27',
       'Join_Count_12_13_14_15_16_17_18_19_20_21_22_23_24_25_26_27_28',
       'Join_Count_12_13_14_15_16_17_18_19_20_21_22_23_24_25_26_27_28_29',
       'Break_Yr', 'Target'],
      dtype='object')

In [51]:
frederick

,OBJECTID,Join_Count,gridcode,FACILITYID,INSTALLDATE,MATERIAL,DIAMETER,OWNEDBY,PIPECLASS,PIPESTATUS,...,Join_Count_12_13_14_15_16_17_18_19_20_21_22,Join_Count_12_13_14_15_16_17_18_19_20_21_22_23,Join_Count_12_13_14_15_16_17_18_19_20_21_22_23_24,Join_Count_12_13_14_15_16_17_18_19_20_21_22_23_24_25,Join_Count_12_13_14_15_16_17_18_19_20_21_22_23_24_25_26,Join_Count_12_13_14_15_16_17_18_19_20_21_22_23_24_25_26_27,Join_Count_12_13_14_15_16_17_18_19_20_21_22_23_24_25_26_27_28,Join_Count_12_13_14_15_16_17_18_19_20_21_22_23_24_25_26_27_28_29,Break_Yr,Target
0,1,1,25,M-0019378,1/3/1994 0:00,DIP,8,1,SP CL 52,0,...,0,0,0,0,0,0,0,0,NaN,0
1,2,1,4,M-0019378,1/3/1994 0:00,DIP,8,1,SP CL 52,0,...,0,0,0,0,0,0,0,0,NaN,0
2,3,1,3,M-0019378,1/3/1994 0:00,DIP,8,1,SP CL 52,0,...,0,0,0,0,0,0,0,0,NaN,0
3,4,1,12,M-0019378,1/3/1994 0:00,DIP,8,1,SP CL 52,0,...,0,0,0,0,0,0,0,0,NaN,0
4,5,1,10,M-0019378,1/3/1994 0:00,DIP,8,1,SP CL 52,0,...,0,0,0,0,0,0,0,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316977,309726,0,22,M-0037890,1/3/1984 0:00,DIP,16,1,50,0,...,0,0,0,0,0,0,0,1,9/4/2003 0:00,1
316978,92353,1,29,M-0118409,1/3/1934 0:00,STL,42,1,UNK,0,...,0,0,0,0,0,0,0,1,9/2/2003 0:00,1
316979,192237,1,3,M-0039987,1/3/1911 0:00,CIP,6,1,UNK,0,...,0,0,0,0,0,0,0,2,9/2/2003 0:00,1
316980,192237,1,3,M-0039987,1/3/1911 0:00,CIP,6,1,UNK,0,...,0,0,0,0,0,0,0,2,9/2/2003 0:00,1
316981,189771,1,16,M-0039045,1/3/1975 0:00,DIP,6,1,2,0,...,0,0,0,0,0,0,0,1,9/2/2003 0:00,1

In [52]:
# # Column names will likely need to be change depending on CSV

# frederick = frederick.rename( columns=
#     { 
#      'Join_Count_12': 'Breaks_nearby_2009',
#        'Join_Count_12_13': 'Breaks_nearby_2010', 
#        'Join_Count_12_13_14': 'Breaks_nearby_2011', 
#        'Join_Count_12_13_14_15': 'Breaks_nearby_2012',
#        'Join_Count_12_13_14_15_16': 'Breaks_nearby_2013', 
#        'Join_Count_12_13_14_15_16_17': 'Breaks_nearby_2014',
#        'Join_Count_12_13_14_15_16_17_18': 'Breaks_nearby_2015', 
#        'Join_Count_12_13_14_15_16_17_18_19': 'Breaks_nearby_2016',
#        'Join_Count_12_13_14_15_16_17_18_19_20': 'Breaks_nearby_2017',
#        'Join_Count_12_13_14_15_16_17_18_19_20_21': 'Breaks_nearby_2018',
#        'Join_Count_12_13_14_15_16_17_18_19_20_21_22': 'Breaks_nearby_2019',
#        'Join_Count_12_13_14_15_16_17_18_19_20_21_22_23': 'Breaks_nearby_2020',
#        'MNL_INSTAL': 'Install_year',
#        'MNL_MATE_1': 'Material',
#        'MNL_LENGTH': 'Length',
#        'SPEEDLIMIT': 'Speed_limit',
#        'SURFACETYP': 'Surface_type',
#        'MUSYM': 'Soil_type',
#        'SURFACEWID': 'Surface_width',
#        'ARTCLASS': 'Arterial_class',
#        'SLOPE_PCT': 'Slope'

       
#     })

frederick = frederick.rename(columns=
{
    'Join_Count_1': 'Breaks_nearby_2003',
    'Join_Count_12': 'Breaks_nearby_2004',
    'Join_Count_12_13': 'Breaks_nearby_2005',
    'Join_Count_12_13_14': 'Breaks_nearby_2006',
    'Join_Count_12_13_14_15': 'Breaks_nearby_2007',
    'Join_Count_12_13_14_15_16': 'Breaks_nearby_2008',
    'Join_Count_12_13_14_15_16_17': 'Breaks_nearby_2009',
    'Join_Count_12_13_14_15_16_17_18': 'Breaks_nearby_2010',
    'Join_Count_12_13_14_15_16_17_18_19': 'Breaks_nearby_2011',
    'Join_Count_12_13_14_15_16_17_18_19_20': 'Breaks_nearby_2012',
    'Join_Count_12_13_14_15_16_17_18_19_20_21': 'Breaks_nearby_2013',
    'Join_Count_12_13_14_15_16_17_18_19_20_21_22': 'Breaks_nearby_2014',
    'Join_Count_12_13_14_15_16_17_18_19_20_21_22_23': 'Breaks_nearby_2015',
    'Join_Count_12_13_14_15_16_17_18_19_20_21_22_23_24': 'Breaks_nearby_2016',
    'Join_Count_12_13_14_15_16_17_18_19_20_21_22_23_24_25': 'Breaks_nearby_2017',
    'Join_Count_12_13_14_15_16_17_18_19_20_21_22_23_24_25_26': 'Breaks_nearby_2018',
    'Join_Count_12_13_14_15_16_17_18_19_20_21_22_23_24_25_26_27': 'Breaks_nearby_2019',
    'Join_Count_12_13_14_15_16_17_18_19_20_21_22_23_24_25_26_27_28': 'Breaks_nearby_2020',
    #'MNL_INSTAL': 'Install_year',
    #'MNL_MATE_1': 'Material',
    'Shape_Length': 'Length',
    #'SPEEDLIMIT': 'Speed_limit',
    #'SURFACETYP': 'Surface_type',
    'FID_ActualTacomaSoil': 'Soil_type',
    #'SURFACEWID': 'Surface_width',
    #'ARTCLASS': 'Arterial_class',
    'gridcode': 'Slope'

})

In [53]:
# Depending on how long the years in the breaks dataset go back, this list can change

# nearby_col_list = ['Breaks_nearby_2009',
#        'Breaks_nearby_2010', 
#        'Breaks_nearby_2011',  'Breaks_nearby_2012', 'Breaks_nearby_2013', 'Breaks_nearby_2014', 'Breaks_nearby_2015', 'Breaks_nearby_2016', 'Breaks_nearby_2017', 'Breaks_nearby_2018', 'Breaks_nearby_2019',
#         'Breaks_nearby_2020']

nearby_col_list = ['Breaks_nearby_2003',
        'Breaks_nearby_2004',
        'Breaks_nearby_2005',
        'Breaks_nearby_2006',
        'Breaks_nearby_2007',
        'Breaks_nearby_2008',
        'Breaks_nearby_2009',
        'Breaks_nearby_2010',
        'Breaks_nearby_2011',
        'Breaks_nearby_2012',
        'Breaks_nearby_2013',
        'Breaks_nearby_2014',
        'Breaks_nearby_2015',
        'Breaks_nearby_2016',
        'Breaks_nearby_2017',
        'Breaks_nearby_2018',
        'Breaks_nearby_2019',
        'Breaks_nearby_2020']

In [54]:
for col in nearby_col_list:
    print(col)
    print(frederick[col].sum())

Breaks_nearby_2003
477
Breaks_nearby_2004
5908
Breaks_nearby_2005
3208
Breaks_nearby_2006
2785
Breaks_nearby_2007
2733
Breaks_nearby_2008
2628
Breaks_nearby_2009
2665
Breaks_nearby_2010
2178
Breaks_nearby_2011
2288
Breaks_nearby_2012
2150
Breaks_nearby_2013
2351
Breaks_nearby_2014
3035
Breaks_nearby_2015
2887
Breaks_nearby_2016
3509
Breaks_nearby_2017
2494
Breaks_nearby_2018
2460
Breaks_nearby_2019
2897
Breaks_nearby_2020
2759

In [55]:
# columns = [
#        'TARGET_FID',
#        'Material', 
#        'Length',
#        'Install_year',
#        'Soil_type',
#        'Arterial_class',
#        'Surface_width',
#        'Surface_type',
#        'Speed_limit',
#        'Slope',
#        'Width',
#        'Breaks_nearby_2009', 'Breaks_nearby_2010',
#        'Breaks_nearby_2011', 'Breaks_nearby_2012', 'Breaks_nearby_2013',
#        'Breaks_nearby_2014', 'Breaks_nearby_2015', 'Breaks_nearby_2016',
#        'Breaks_nearby_2017', 'Breaks_nearby_2018', 'Breaks_nearby_2019',
#        'Breaks_nearby_2020',
#        'Break_Yr',
#        'Target']

columns = [
       'OBJECTID',
       'MATERIAL',
       'Length',
       'INSTALLDATE',
       'Soil_type',
       #'Arterial_class',
       #'Surface_width',
       #'Surface_type',
       #'Speed_limit',
       'Slope',
       'DIAMETER',
       'Breaks_nearby_2003',
       'Breaks_nearby_2004',
       'Breaks_nearby_2005',
       'Breaks_nearby_2006',
       'Breaks_nearby_2007',
       'Breaks_nearby_2008',
       'Breaks_nearby_2009', 'Breaks_nearby_2010',
       'Breaks_nearby_2011', 'Breaks_nearby_2012', 'Breaks_nearby_2013',
       'Breaks_nearby_2014', 'Breaks_nearby_2015', 'Breaks_nearby_2016',
       'Breaks_nearby_2017', 'Breaks_nearby_2018', 'Breaks_nearby_2019',
       'Breaks_nearby_2020',
       'Break_Yr',
       'Target']

In [72]:
frederick['Break_Yr'].unique()

array([  nan, 2020., 2019., 2018., 2017., 2016., 2015., 2014., 2013.,
       2012., 2011., 2010., 2009., 2008., 2007., 2006., 2005., 2004.,
       2003.])

In [56]:
frederick['Soil_type'] = frederick['Soil_type'].map(lambda x: str(x))
frederick.tail()

,OBJECTID,Join_Count,Slope,FACILITYID,INSTALLDATE,MATERIAL,DIAMETER,OWNEDBY,PIPECLASS,PIPESTATUS,...,Breaks_nearby_2014,Breaks_nearby_2015,Breaks_nearby_2016,Breaks_nearby_2017,Breaks_nearby_2018,Breaks_nearby_2019,Breaks_nearby_2020,Join_Count_12_13_14_15_16_17_18_19_20_21_22_23_24_25_26_27_28_29,Break_Yr,Target
316977,309726,0,22,M-0037890,1/3/1984 0:00,DIP,16,1,50,0,...,0,0,0,0,0,0,0,1,9/4/2003 0:00,1
316978,92353,1,29,M-0118409,1/3/1934 0:00,STL,42,1,UNK,0,...,0,0,0,0,0,0,0,1,9/2/2003 0:00,1
316979,192237,1,3,M-0039987,1/3/1911 0:00,CIP,6,1,UNK,0,...,0,0,0,0,0,0,0,2,9/2/2003 0:00,1
316980,192237,1,3,M-0039987,1/3/1911 0:00,CIP,6,1,UNK,0,...,0,0,0,0,0,0,0,2,9/2/2003 0:00,1
316981,189771,1,16,M-0039045,1/3/1975 0:00,DIP,6,1,2,0,...,0,0,0,0,0,0,0,1,9/2/2003 0:00,1

In [58]:
# columns names might be variable here too

frederick['INSTALLDATE'] = pd.to_datetime(frederick['INSTALLDATE'], format='%m/%d/%Y %H:%M')
frederick['INSTALLDATE'] = frederick['INSTALLDATE'].map(lambda x: x.year)

frederick['Break_Yr'] = pd.to_datetime(frederick['Break_Yr'], format='%m/%d/%Y %H:%M')
frederick['Break_Yr'] = frederick['Break_Yr'].map(lambda x: x.year)

# only needed if soil type data is set as a number, not as a string
frederick['Soil_type'] = frederick['Soil_type'].map(lambda x: str(x)) # making it a string becauase we dont want it to be numeric in this case

frederick.tail()

,OBJECTID,Join_Count,Slope,FACILITYID,INSTALLDATE,MATERIAL,DIAMETER,OWNEDBY,PIPECLASS,PIPESTATUS,...,Breaks_nearby_2014,Breaks_nearby_2015,Breaks_nearby_2016,Breaks_nearby_2017,Breaks_nearby_2018,Breaks_nearby_2019,Breaks_nearby_2020,Join_Count_12_13_14_15_16_17_18_19_20_21_22_23_24_25_26_27_28_29,Break_Yr,Target
316977,309726,0,22,M-0037890,1984,DIP,16,1,50,0,...,0,0,0,0,0,0,0,1,2003.0,1
316978,92353,1,29,M-0118409,1934,STL,42,1,UNK,0,...,0,0,0,0,0,0,0,1,2003.0,1
316979,192237,1,3,M-0039987,1911,CIP,6,1,UNK,0,...,0,0,0,0,0,0,0,2,2003.0,1
316980,192237,1,3,M-0039987,1911,CIP,6,1,UNK,0,...,0,0,0,0,0,0,0,2,2003.0,1
316981,189771,1,16,M-0039045,1975,DIP,6,1,2,0,...,0,0,0,0,0,0,0,1,2003.0,1

In [93]:
frederick.head()

,OBJECTID_1,Join_Count,TARGET_FID,Join_Count_1,TARGET_FID_1,MNL_FEA_KE,MNL_FEAT_1,MNL_OWNE_1,Material,Length,...,Breaks_nearby_2013,Breaks_nearby_2014,Breaks_nearby_2015,Breaks_nearby_2016,Breaks_nearby_2017,Breaks_nearby_2018,Breaks_nearby_2019,Breaks_nearby_2020,Break_Yr,Target
0,1,3,1,0,1,2171012,Mainline,Seattle Public Utilities,Concrete,314.79,...,0,0,0,0,0,0,0,0,NaN,0
1,2,3,2,0,2,2178518,Mainline,Seattle Public Utilities,Concrete,363.39,...,0,0,0,0,0,0,0,0,NaN,0
2,3,1,3,0,3,2163634,Mainline,Seattle Public Utilities,Concrete,323.51,...,0,0,0,0,0,0,0,0,NaN,0
3,4,3,4,0,4,2201252,Mainline,Seattle Public Utilities,Vitrified Clay,329.13,...,0,0,0,0,0,0,0,0,NaN,0
4,5,1,5,0,5,2171196,Mainline,Seattle Public Utilities,Reinforced Concrete Pipe,273.64,...,0,0,0,0,0,0,0,0,NaN,0

In [59]:
frederick = frederick[columns]

In [95]:
frederick['Width'] = pd.to_numeric(frederick['Width'], errors='coerce')

In [60]:
dummy_df = pd.get_dummies(frederick)
for col in dummy_df.columns:
    print(col)

OBJECTID
Length
INSTALLDATE
Slope
DIAMETER
Breaks_nearby_2003
Breaks_nearby_2004
Breaks_nearby_2005
Breaks_nearby_2006
Breaks_nearby_2007
Breaks_nearby_2008
Breaks_nearby_2009
Breaks_nearby_2010
Breaks_nearby_2011
Breaks_nearby_2012
Breaks_nearby_2013
Breaks_nearby_2014
Breaks_nearby_2015
Breaks_nearby_2016
Breaks_nearby_2017
Breaks_nearby_2018
Breaks_nearby_2019
Breaks_nearby_2020
Break_Yr
Target
MATERIAL_ACP
MATERIAL_BRS
MATERIAL_CIP
MATERIAL_CON
MATERIAL_COP
MATERIAL_DIP
MATERIAL_GLV
MATERIAL_HDPE
MATERIAL_PE
MATERIAL_PLS
MATERIAL_PVC
MATERIAL_RST
MATERIAL_STL
MATERIAL_UNK
Soil_type_106
Soil_type_1120
Soil_type_1204
Soil_type_1218
Soil_type_1244
Soil_type_1253
Soil_type_1276
Soil_type_1308
Soil_type_1374
Soil_type_1391
Soil_type_1400
Soil_type_148
Soil_type_2054
Soil_type_2055
Soil_type_2060
Soil_type_2061
Soil_type_2069
Soil_type_2076
Soil_type_2081
Soil_type_2096
Soil_type_2097
Soil_type_2103
Soil_type_2105
Soil_type_2106
Soil_type_2107
Soil_type_2112
Soil_type_2113
Soil_type_2122
Soil_type_2123
Soil_type_2124
Soil_type_2125
Soil_type_2126
Soil_type_2127
Soil_type_2138
Soil_type_2139
Soil_type_2141
Soil_type_2145
Soil_type_2146
Soil_type_2148
Soil_type_2152
Soil_type_2153
Soil_type_2157
Soil_type_2158
Soil_type_2161
Soil_type_2162
Soil_type_2172
Soil_type_2173
Soil_type_2175
Soil_type_2193
Soil_type_2194
Soil_type_2197
Soil_type_2198
Soil_type_2203
Soil_type_2205
Soil_type_2206
Soil_type_2210
Soil_type_2211
Soil_type_2214
Soil_type_2218
Soil_type_2226
Soil_type_2228
Soil_type_2229
Soil_type_2231
Soil_type_2232
Soil_type_2234
Soil_type_2238
Soil_type_2243
Soil_type_2247
Soil_type_2253
Soil_type_2257
Soil_type_2260
Soil_type_2261
Soil_type_2268
Soil_type_2272
Soil_type_2275
Soil_type_2276
Soil_type_2292
Soil_type_2293
Soil_type_2294
Soil_type_2300
Soil_type_2303
Soil_type_2313
Soil_type_2316
Soil_type_2327
Soil_type_2328
Soil_type_2330
Soil_type_2338
Soil_type_2340
Soil_type_2347
Soil_type_2351
Soil_type_2354
Soil_type_2358
Soil_type_2360
Soil_type_2367
Soil_type_2368
Soil_type_2369
Soil_type_2372
Soil_type_2375
Soil_type_2376
Soil_type_2381
Soil_type_2382
Soil_type_2388
Soil_type_2399
Soil_type_2401
Soil_type_2402
Soil_type_2403
Soil_type_2407
Soil_type_2412
Soil_type_2416
Soil_type_2433
Soil_type_2437
Soil_type_2438
Soil_type_2441
Soil_type_2443
Soil_type_2446
Soil_type_2447
Soil_type_2448
Soil_type_2449
Soil_type_2450
Soil_type_2455
Soil_type_2456
Soil_type_2467
Soil_type_2468
Soil_type_2470
Soil_type_2473
Soil_type_2477
Soil_type_2478
Soil_type_2479
Soil_type_2481
Soil_type_2486
Soil_type_2488
Soil_type_2492
Soil_type_2505
Soil_type_2509
Soil_type_2516
Soil_type_2519
Soil_type_2523
Soil_type_2530
Soil_type_2532
Soil_type_2535
Soil_type_2541
Soil_type_2548
Soil_type_2554
Soil_type_2555
Soil_type_2556
Soil_type_2560
Soil_type_2562
Soil_type_2576
Soil_type_2584
Soil_type_2595
Soil_type_2598
Soil_type_2600
Soil_type_2613
Soil_type_2619
Soil_type_2622
Soil_type_263
Soil_type_2632
Soil_type_2644
Soil_type_2656
Soil_type_2659
Soil_type_2661
Soil_type_2663
Soil_type_2675
Soil_type_2676
Soil_type_2677
Soil_type_2692
Soil_type_2693
Soil_type_2694
Soil_type_2697
Soil_type_2698
Soil_type_2703
Soil_type_2706
Soil_type_2707
Soil_type_2713
Soil_type_2718
Soil_type_2719
Soil_type_2725
Soil_type_2728
Soil_type_2731
Soil_type_2732
Soil_type_2741
Soil_type_2742
Soil_type_2744
Soil_type_2748
Soil_type_2753
Soil_type_2754
Soil_type_2755
Soil_type_2760
Soil_type_2762
Soil_type_2765
Soil_type_2768
Soil_type_2769
Soil_type_2771
Soil_type_2773
Soil_type_2774
Soil_type_2786
Soil_type_2790
Soil_type_2794
Soil_type_2795
Soil_type_2798
Soil_type_2799
Soil_type_2800
Soil_type_2801
Soil_type_2802
Soil_type_2809
Soil_type_2811
Soil_type_2812
Soil_type_2816
Soil_type_2817
Soil_type_2820
Soil_type_2839
Soil_type_2843
Soil_type_2845
Soil_type_2846
Soil_type_2847
Soil_type_2848
Soil_type_2849
Soil_type_2859
Soil_type_2863
Soil_type_2864
Soil_type_2870
Soil_type_2873
Soil_type_2881
Soil_type_2882
Soil_type_2884
Soil_type_2891
Soil_type_2902
Soil_type_2903
Soil_type_2906
Soil_type_2910
Soil_type_2911
Soil_type_2912
Soil_type_2915
Soil_type_2923
Soil_type_2926
Soil_type_2927
Soil_type_2928
Soil_type_2929
Soil_type_2936
Soil_type_2942
Soil_type_2944
Soil_type_2946
Soil_type_2965
Soil_type_2966
Soil_type_2968
Soil_type_2971
Soil_type_2972
Soil_type_2976
Soil_type_2978
Soil_type_2981
Soil_type_2982
Soil_type_2983
Soil_type_2987
Soil_type_2993
Soil_type_2994
Soil_type_2998
Soil_type_3009
Soil_type_3014
Soil_type_3021
Soil_type_3024
Soil_type_3041
Soil_type_3044
Soil_type_3045
Soil_type_3055
Soil_type_3057
Soil_type_3061
Soil_type_3063
Soil_type_3065
Soil_type_3069
Soil_type_3071
Soil_type_3072
Soil_type_3073
Soil_type_3076
Soil_type_3079
Soil_type_3081
Soil_type_3083
Soil_type_3084
Soil_type_3085
Soil_type_3086
Soil_type_3091
Soil_type_3096
Soil_type_3097
Soil_type_3103
Soil_type_3113
Soil_type_3114
Soil_type_3118
Soil_type_3120
Soil_type_3135
Soil_type_3139
Soil_type_3144
Soil_type_3145
Soil_type_3150
Soil_type_3153
Soil_type_3161
Soil_type_3169
Soil_type_3172
Soil_type_3176
Soil_type_3178
Soil_type_3180
Soil_type_3181
Soil_type_3185
Soil_type_3189
Soil_type_3190
Soil_type_3192
Soil_type_3194
Soil_type_3209
Soil_type_3220
Soil_type_3224
Soil_type_3237
Soil_type_3244
Soil_type_3249
Soil_type_3252
Soil_type_3256
Soil_type_3263
Soil_type_3274
Soil_type_3278
Soil_type_3284
Soil_type_3285
Soil_type_3298
Soil_type_3305
Soil_type_3309
Soil_type_3310
Soil_type_3313
Soil_type_3318
Soil_type_3326
Soil_type_3335
Soil_type_3340
Soil_type_3344
Soil_type_337
Soil_type_3371
Soil_type_3375
Soil_type_3377
Soil_type_3380
Soil_type_3381
Soil_type_3387
Soil_type_3390
Soil_type_3394
Soil_type_3396
Soil_type_3397
Soil_type_3398
Soil_type_3410
Soil_type_3421
Soil_type_3423
Soil_type_3429
Soil_type_3435
Soil_type_3437
Soil_type_3438
Soil_type_3445
Soil_type_3446
Soil_type_3453
Soil_type_3456
Soil_type_3460
Soil_type_3466
Soil_type_3467
Soil_type_3469
Soil_type_3472
Soil_type_3477
Soil_type_3478
Soil_type_3480
Soil_type_3500
Soil_type_3508
Soil_type_3522
Soil_type_3547
Soil_type_3549
Soil_type_3551
Soil_type_3554
Soil_type_3556
Soil_type_3568
Soil_type_3574
Soil_type_3585
Soil_type_3587
Soil_type_3589
Soil_type_3593
Soil_type_3604
Soil_type_3613
Soil_type_3627
Soil_type_3631
Soil_type_3633
Soil_type_3637
Soil_type_3638
Soil_type_3642
Soil_type_3648
Soil_type_3649
Soil_type_3650
Soil_type_3656
Soil_type_3660
Soil_type_3665
Soil_type_3674
Soil_type_3675
Soil_type_3676
Soil_type_3677
Soil_type_3680
Soil_type_3681
Soil_type_3683
Soil_type_3686
Soil_type_3699
Soil_type_3700
Soil_type_3707
Soil_type_3708
Soil_type_3710
Soil_type_3713
Soil_type_3714
Soil_type_3718
Soil_type_3734
Soil_type_3738
Soil_type_3763
Soil_type_3765
Soil_type_3769
Soil_type_3770
Soil_type_3771
Soil_type_3772
Soil_type_3780
Soil_type_3781
Soil_type_3782
Soil_type_3790
Soil_type_3791
Soil_type_3804
Soil_type_3814
Soil_type_3816
Soil_type_3821
Soil_type_3833
Soil_type_3841
Soil_type_3848
Soil_type_3852
Soil_type_3853
Soil_type_3860
Soil_type_3875
Soil_type_3878
Soil_type_3879
Soil_type_3881
Soil_type_3882
Soil_type_3884
Soil_type_3890
Soil_type_3897
Soil_type_3900
Soil_type_3913
Soil_type_3914
Soil_type_3916
Soil_type_3918
Soil_type_3927
Soil_type_3941
Soil_type_3947
Soil_type_3952
Soil_type_3955
Soil_type_3956
Soil_type_3957
Soil_type_3959
Soil_type_3960
Soil_type_3964
Soil_type_3965
Soil_type_3970
Soil_type_3973
Soil_type_3981
Soil_type_3983
Soil_type_3985
Soil_type_3991
Soil_type_3995
Soil_type_3999
Soil_type_4004
Soil_type_4008
Soil_type_4014
Soil_type_4016
Soil_type_4017
Soil_type_4018
Soil_type_477
Soil_type_521
Soil_type_523
Soil_type_704
Soil_type_747
Soil_type_862

In [97]:
dummy_df

,TARGET_FID,Length,Install_year,Arterial_class,Surface_width,Speed_limit,Slope,Width,Breaks_nearby_2009,Breaks_nearby_2010,...,Soil_type_988,Soil_type_989,Soil_type_999,Surface_type_,Surface_type_AC,Surface_type_AC/AC,Surface_type_AC/PCC,Surface_type_GRAVEL,Surface_type_PCC,Surface_type_ST
0,1,314.79,1972,2.0,40.0,25.0,0.0,8.0,NaN,0,...,0,0,0,0,0,0,0,0,1,0
1,2,363.39,1972,0.0,46.0,20.0,4.0,8.0,NaN,0,...,0,0,0,0,1,0,0,0,0,0
2,3,323.51,1972,0.0,46.0,20.0,4.0,8.0,NaN,0,...,0,0,0,0,1,0,0,0,0,0
3,4,329.13,1928,0.0,0.0,20.0,6.0,12.0,NaN,0,...,0,0,0,0,0,0,0,0,0,1
4,5,273.64,1928,2.0,42.0,25.0,4.0,18.0,NaN,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56365,56366,282.22,1931,3.0,24.0,25.0,9.0,16.0,NaN,0,...,0,0,0,0,1,0,0,0,0,0
40139,40140,149.33,1960,3.0,47.0,30.0,8.0,24.0,NaN,0,...,0,0,0,0,0,0,1,0,0,0
62255,62256,330.84,1922,0.0,0.0,20.0,2.0,8.0,NaN,0,...,0,0,0,0,0,0,0,0,0,1
54147,54148,79.90,1927,0.0,25.0,20.0,2.0,2.0,NaN,0,...,0,0,0,0,0,0,0,0,1,0
30715,30716,409.38,1950,0.0,24.0,20.0,9.0,8.0,NaN,0,...,0,0,0,0,0,0,0,0,0,1

In [61]:
dummy_df['Breaks_nearby_2009'] = dummy_df['Breaks_nearby_2009'].fillna(0).astype(int)

In [74]:
dummy_df['Break_Yr'].unique()

array([  nan, 2020., 2019., 2018., 2017., 2016., 2015., 2014., 2013.,
       2012., 2011., 2010., 2009., 2008., 2007., 2006., 2005., 2004.,
       2003.])

In [28]:
dummy_df['Breaks_nearby_2009'] = dummy_df['Breaks_nearby_2009'].fillna(0).astype(int)

In [76]:
def get_data(df, year):
    """
    Takes in df and filters depending on timeframe (start and end years).
    Returns subset of data for training in timeframe.
    """
    # want to include where there is NOT a break year (those will be our non-broken positive examples --> 'DATE' == 0) - DATE col


    # want to include where break year is in time frame of what we want - DATE col
    filt_df = df[(df['Break_Yr'].isnull()) | (df['Break_Yr'] == year)]

    # exclude installs AFTER time frame window - MNL_INSTAL col
    filt_df = filt_df[(filt_df['INSTALLDATE'] <= year)]

    # based on time window, calculate appropriate age of pipes (select beginning year of time frame --> ex: 2009, 2010, 2011
    #       subtract install year from 2009) - MNL_INSTAL col
    # -- will create negative numbers
    filt_df['AGE'] = year - filt_df['INSTALLDATE']

    
    filt_df['Nearby_breaks_1yr'] = filt_df[f"Breaks_nearby_{year-1}"]
    print(filt_df[f"Breaks_nearby_{year-1}"].sum())
    print(filt_df['Nearby_breaks_1yr'].sum())

    filt_df['Process_year'] = year

    for i in range(2003, 2021):
        filt_df = filt_df.drop(f"Breaks_nearby_{i}", axis=1)
    
    return filt_df

In [78]:
test_timeframe_df = get_data(dummy_df, 2004)

353
353

In [79]:
test_timeframe_df['Process_year']

0         2004
1         2004
2         2004
3         2004
4         2004
          ...
316939    2004
316940    2004
316941    2004
316942    2004
316943    2004
Name: Process_year, Length: 260106, dtype: int64

In [80]:
def main_function(dummy_df):
    """
    Takes in dummy dataframe and runs all functions based on given year ranges.
    Prints out year and accuracy per time range (3 years ranges)
    """
    output_list = []

    for process_year in range(2004, 2021): # change this depending on how many years are in dataset

    
        output_df = get_data(dummy_df, process_year)
        #num_breaks = output_df[output_df['Target'] == 1]
        #print(num_breaks.shape)
        #print()
        output_list.append(output_df)
        #print(file_name)
        #df = get_data(dummy_df, start_train, end_train)
        #break
    final_data = pd.concat(output_list)
    final_data.to_csv('tacoma_ml_data.csv', header=True, index=False)

In [68]:
main_function(dummy_df)

353
353
4692
4692
2432
2432
2309
2309
2079
2079
2102
2102
2143
2143
1710
1710
1990
1990
1790
1790
2030
2030
2605
2605
2547
2547
2980
2980
2191
2191
2176
2176
2525
2525

In [81]:
final_data = pd.read_csv('tacoma_ml_data.csv')

In [82]:
final_data['Process_year'].unique()

array([2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014,
       2015, 2016, 2017, 2018, 2019, 2020])