In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as datetime

In [6]:
pipes_database = pd.read_csv('PipeBreakJoins100ft.csv')
breaks = pd.read_csv('BreaksNearPipes.csv')
print(pipes_database.shape)
print(breaks.shape)

(68802, 76)
(2823, 8)

In [7]:
pipes_database.head()

,OBJECTID_1,Join_Count,TARGET_FID,Join_Count_1,TARGET_FID_1,MNL_FEA_KE,MNL_FEAT_1,MNL_OWNE_1,MNL_MATE_1,MNL_LENGTH,...,Join_Count_12_13_14,Join_Count_12_13_14_15,Join_Count_12_13_14_15_16,Join_Count_12_13_14_15_16_17,Join_Count_12_13_14_15_16_17_18,Join_Count_12_13_14_15_16_17_18_19,Join_Count_12_13_14_15_16_17_18_19_20,Join_Count_12_13_14_15_16_17_18_19_20_21,Join_Count_12_13_14_15_16_17_18_19_20_21_22,Join_Count_12_13_14_15_16_17_18_19_20_21_22_23
0,1,3,1,0,1,2171012,Mainline,Seattle Public Utilities,Concrete,314.79,...,0,0,0,0,0,0,0,0,0,0
1,2,3,2,0,2,2178518,Mainline,Seattle Public Utilities,Concrete,363.39,...,0,0,0,0,0,0,0,0,0,0
2,3,1,3,0,3,2163634,Mainline,Seattle Public Utilities,Concrete,323.51,...,0,0,0,0,0,0,0,0,0,0
3,4,3,4,0,4,2201252,Mainline,Seattle Public Utilities,Vitrified Clay,329.13,...,0,0,0,0,0,0,0,0,0,0
4,5,1,5,0,5,2171196,Mainline,Seattle Public Utilities,Reinforced Concrete Pipe,273.64,...,0,0,0,0,0,0,0,0,0,0

In [4]:
breaks.head()

,OBJECTID,WONUM,ASSETNUM,Size,Long,Lat,DATE,NEAR_FID
0,1,1737957,32973,1,-122.353924,47.655353,1/5/2009 0:00:00,2880
1,2,1740717,528984,6,-122.414710,47.650453,1/6/2009 0:00:00,25569
2,3,1741988,22252,12,-122.342223,47.540342,1/7/2009 23:12:22,5918
3,4,1742726,29091,4,-122.376756,47.507342,1/8/2009 13:17:52,61372
4,5,1743092,83766,30,-122.345464,47.527333,1/8/2009 14:21:39,-1

In [8]:
len(pipes_database['TARGET_FID'].unique())

68802

In [9]:
pipes_database['Break_Yr'] = np.nan
pipes_database['Target'] = 0

In [7]:
pipes_database.head()

,OBJECTID_1,Join_Count,TARGET_FID,Join_Count_1,TARGET_FID_1,MNL_FEA_KE,MNL_FEAT_1,MNL_OWNE_1,MNL_MATE_1,MNL_LENGTH,...,Join_Count_12_13_14_15_16,Join_Count_12_13_14_15_16_17,Join_Count_12_13_14_15_16_17_18,Join_Count_12_13_14_15_16_17_18_19,Join_Count_12_13_14_15_16_17_18_19_20,Join_Count_12_13_14_15_16_17_18_19_20_21,Join_Count_12_13_14_15_16_17_18_19_20_21_22,Join_Count_12_13_14_15_16_17_18_19_20_21_22_23,Break_Yr,Target
0,1,3,1,0,1,2171012,Mainline,Seattle Public Utilities,Concrete,314.79,...,0,0,0,0,0,0,0,0,NaN,0
1,2,3,2,0,2,2178518,Mainline,Seattle Public Utilities,Concrete,363.39,...,0,0,0,0,0,0,0,0,NaN,0
2,3,1,3,0,3,2163634,Mainline,Seattle Public Utilities,Concrete,323.51,...,0,0,0,0,0,0,0,0,NaN,0
3,4,3,4,0,4,2201252,Mainline,Seattle Public Utilities,Vitrified Clay,329.13,...,0,0,0,0,0,0,0,0,NaN,0
4,5,1,5,0,5,2171196,Mainline,Seattle Public Utilities,Reinforced Concrete Pipe,273.64,...,0,0,0,0,0,0,0,0,NaN,0

In [10]:
a_list = []

for index, row in breaks.iterrows():
    #print(row)
    pipe_id = row['NEAR_FID'] # Location column
    if pipe_id != -1:
        real_pipe = pipes_database[pipes_database['TARGET_FID'] == pipe_id]
        new_row = real_pipe.copy()
        new_row['Target'] = 1
        new_row['Break_Yr'] = row['DATE']
        new_row['Width'] = row['Size']
        #new_row['TARGET_FID'] = -1
        a_list.append(new_row)
    
        
    # street_standard = (''.join([c for c in street if c.isalpha()])).lower()
    # for index, row in pipes_database.i:
    #     all_street = all_row['TARGET_FID'] # FULL_STRNA column
    #     # if all_street_standard in street_standard:
    #     #     possible_pipes = break_refs.setdefault(row, [])
    #     #     possible_pipes.append(all_row[1])
new_data = pipes_database.append(pd.concat(a_list))

print(pipes_database.shape)

(68802, 78)

0                       NaN
1                       NaN
2                       NaN
3                       NaN
4                       NaN
                ...
56365    8/13/2013 15:02:28
40139    7/17/2013 17:15:48
62255     8/21/2013 2:25:24
54147    8/31/2013 11:06:25
30715     9/4/2013 12:58:17
Name: DATE, Length: 71320, dtype: object

In [ ]:
print(set(new_data['ARTCLASS']))

In [12]:
new_data.to_csv('all_the_stuff.csv', header=True, index=False)

In [13]:
frederick = new_data

In [14]:
frederick = pd.read_csv('all_the_stuff.csv')
frederick.columns

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3166: DtypeWarning: Columns (11,21,22,23,59,76) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Index(['OBJECTID_1', 'Join_Count', 'TARGET_FID', 'Join_Count_1',
       'TARGET_FID_1', 'MNL_FEA_KE', 'MNL_FEAT_1', 'MNL_OWNE_1', 'MNL_MATE_1',
       'MNL_LENGTH', 'MNL_INSTAL', 'Width', 'NEAR_DIST', 'NEAR_X', 'NEAR_Y',
       'FID_SeaSoilClip', 'MUSYM', 'muname', 'OBJECTID', 'ARTCLASS', 'COMPKEY',
       'UNITID', 'UNITID2', 'UNITIDSORT', 'UNITDESC', 'STNAME_ORD', 'XSTRLO',
       'XSTRHI', 'ARTDESCRIP', 'OWNER', 'STATUS', 'BLOCKNBR', 'SPEEDLIMIT',
       'SEGDIR', 'ONEWAY', 'ONEWAYDIR', 'FLOW', 'SEGLENGTH', 'SURFACEWID',
       'SURFACETYP', 'SURFACET_1', 'INTRLO', 'DIRLO', 'INTKEYLO', 'INTRHI',
       'DIRHI', 'NATIONHWYS', 'STREETTYPE', 'PVMTCONDIN', 'PVMTCOND_1',
       'TRANCLASS', 'TRANDESCRI', 'SLOPE_PCT', 'PVMTCATEGO', 'PARKBOULEV',
       'SHAPE_Leng', 'Shape_Length_1', 'WONUM', 'ASSETNUM', 'Size', 'Long',
       'Lat', 'DATE', 'Shape_Length', 'Join_Count_12', 'Join_Count_12_13',
       'Join_Count_12_13_14', 'Join_Count_12_13_14_15',
       'Join_Count_12_13_14_15_16', 'Join_Count_12_13_14_15_16_17',
       'Join_Count_12_13_14_15_16_17_18', 'Join_Count_12_13_14_15_16_17_18_19',
       'Join_Count_12_13_14_15_16_17_18_19_20',
       'Join_Count_12_13_14_15_16_17_18_19_20_21',
       'Join_Count_12_13_14_15_16_17_18_19_20_21_22',
       'Join_Count_12_13_14_15_16_17_18_19_20_21_22_23', 'Break_Yr', 'Target'],
      dtype='object')

In [88]:
frederick

,OBJECTID_1,Join_Count,TARGET_FID,Join_Count_1,TARGET_FID_1,MNL_FEA_KE,MNL_FEAT_1,MNL_OWNE_1,MNL_MATE_1,MNL_LENGTH,...,Join_Count_12_13_14_15_16,Join_Count_12_13_14_15_16_17,Join_Count_12_13_14_15_16_17_18,Join_Count_12_13_14_15_16_17_18_19,Join_Count_12_13_14_15_16_17_18_19_20,Join_Count_12_13_14_15_16_17_18_19_20_21,Join_Count_12_13_14_15_16_17_18_19_20_21_22,Join_Count_12_13_14_15_16_17_18_19_20_21_22_23,Break_Yr,Target
0,1,3,1,0,1,2171012,Mainline,Seattle Public Utilities,Concrete,314.79,...,0,0,0,0,0,0,0,0,NaN,0
1,2,3,2,0,2,2178518,Mainline,Seattle Public Utilities,Concrete,363.39,...,0,0,0,0,0,0,0,0,NaN,0
2,3,1,3,0,3,2163634,Mainline,Seattle Public Utilities,Concrete,323.51,...,0,0,0,0,0,0,0,0,NaN,0
3,4,3,4,0,4,2201252,Mainline,Seattle Public Utilities,Vitrified Clay,329.13,...,0,0,0,0,0,0,0,0,NaN,0
4,5,1,5,0,5,2171196,Mainline,Seattle Public Utilities,Reinforced Concrete Pipe,273.64,...,0,0,0,0,0,0,0,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56365,56366,1,56366,1,56366,2198188,Mainline,Seattle Public Utilities,Vitrified Clay,282.22,...,1,0,0,0,0,0,0,0,8/13/2013 15:02:28,1
40139,40140,4,40140,6,40140,2186757,Mainline,Seattle Public Utilities,Concrete,149.33,...,3,0,0,0,0,2,1,0,8/18/2013 16:16:50,1
62255,62256,1,62256,1,62256,2215404,Mainline,Seattle Public Utilities,Concrete,330.84,...,1,0,0,0,0,0,0,0,8/21/2013 2:25:24,1
54147,54148,4,54148,4,54148,2187745,Mainline,Seattle Public Utilities,Vitrified Clay,79.90,...,4,0,0,0,0,0,0,0,8/29/2013 18:18:16,1
30715,30716,3,30716,2,30716,2209478,Mainline,Seattle Public Utilities,Concrete,409.38,...,2,0,0,0,0,0,0,0,9/4/2013 14:50:54,1

In [15]:
frederick = frederick.rename( columns=
    { 
     'Join_Count_12': 'Breaks_nearby_2009',
       'Join_Count_12_13': 'Breaks_nearby_2010', 
       'Join_Count_12_13_14': 'Breaks_nearby_2011', 
       'Join_Count_12_13_14_15': 'Breaks_nearby_2012',
       'Join_Count_12_13_14_15_16': 'Breaks_nearby_2013', 
       'Join_Count_12_13_14_15_16_17': 'Breaks_nearby_2014',
       'Join_Count_12_13_14_15_16_17_18': 'Breaks_nearby_2015', 
       'Join_Count_12_13_14_15_16_17_18_19': 'Breaks_nearby_2016',
       'Join_Count_12_13_14_15_16_17_18_19_20': 'Breaks_nearby_2017',
       'Join_Count_12_13_14_15_16_17_18_19_20_21': 'Breaks_nearby_2018',
       'Join_Count_12_13_14_15_16_17_18_19_20_21_22': 'Breaks_nearby_2019',
       'Join_Count_12_13_14_15_16_17_18_19_20_21_22_23': 'Breaks_nearby_2020',
       'MNL_INSTAL': 'Install_year',
       'MNL_MATE_1': 'Material',
       'MNL_LENGTH': 'Length',
       'SPEEDLIMIT': 'Speed_limit',
       'SURFACETYP': 'Surface_type',
       'MUSYM': 'Soil_type',
       'SURFACEWID': 'Surface_width',
       'ARTCLASS': 'Arterial_class',
       'SLOPE_PCT': 'Slope'

       
    })

In [16]:
nearby_col_list = ['Breaks_nearby_2009',
       'Breaks_nearby_2010', 
       'Breaks_nearby_2011',  'Breaks_nearby_2012', 'Breaks_nearby_2013', 'Breaks_nearby_2014', 'Breaks_nearby_2015', 'Breaks_nearby_2016', 'Breaks_nearby_2017', 'Breaks_nearby_2018', 'Breaks_nearby_2019',
        'Breaks_nearby_2020']

In [17]:
for col in nearby_col_list:
    print(col)
    print(frederick[col].sum())

Breaks_nearby_2009
972.0
Breaks_nearby_2010
323
Breaks_nearby_2011
449
Breaks_nearby_2012
1154
Breaks_nearby_2013
1626
Breaks_nearby_2014
1443
Breaks_nearby_2015
1744
Breaks_nearby_2016
1637
Breaks_nearby_2017
1671
Breaks_nearby_2018
1297
Breaks_nearby_2019
1452
Breaks_nearby_2020
1041

In [30]:
columns = [
       'TARGET_FID',
       #'Material', 
       'Length',
       'Install_year',
       #'Soil_type',
       #'Arterial_class',
       #'Surface_width',
       #'Surface_type',
       #'Speed_limit',
       'Slope',
       'Width',
       'Breaks_nearby_2009', 'Breaks_nearby_2010',
       'Breaks_nearby_2011', 'Breaks_nearby_2012', 'Breaks_nearby_2013',
       'Breaks_nearby_2014', 'Breaks_nearby_2015', 'Breaks_nearby_2016',
       'Breaks_nearby_2017', 'Breaks_nearby_2018', 'Breaks_nearby_2019',
       'Breaks_nearby_2020',
       'Break_Yr',
       'Target']

In [31]:
frederick['Install_year'] = pd.to_datetime(frederick['Install_year'], format='%m/%d/%Y %H:%M:%S')
frederick['Install_year'] = frederick['Install_year'].map(lambda x: x.year)

frederick['Break_Yr'] = pd.to_datetime(frederick['Break_Yr'], format='%m/%d/%Y %H:%M:%S')
frederick['Break_Yr'] = frederick['Break_Yr'].map(lambda x: x.year)

#frederick['Soil_type'] = frederick['Soil_type'].map(lambda x: str(x))

frederick.tail()

,TARGET_FID,Material,Length,Install_year,Soil_type,Arterial_class,Surface_width,Surface_type,Speed_limit,Slope,...,Breaks_nearby_2013,Breaks_nearby_2014,Breaks_nearby_2015,Breaks_nearby_2016,Breaks_nearby_2017,Breaks_nearby_2018,Breaks_nearby_2019,Breaks_nearby_2020,Break_Yr,Target
71315,56366,Vitrified Clay,282.22,1931,3057,3.0,24.0,AC,25.0,9.0,...,1,0,0,0,0,0,0,0,2013.0,1
71316,40140,Concrete,149.33,1960,3057,3.0,47.0,AC/PCC,30.0,8.0,...,3,0,0,0,0,2,1,0,2013.0,1
71317,62256,Concrete,330.84,1922,3055,0.0,0.0,ST,20.0,2.0,...,1,0,0,0,0,0,0,0,2013.0,1
71318,54148,Vitrified Clay,79.90,1927,3056,0.0,25.0,PCC,20.0,2.0,...,4,0,0,0,0,0,0,0,2013.0,1
71319,30716,Concrete,409.38,1950,3057,0.0,24.0,ST,20.0,9.0,...,2,0,0,0,0,0,0,0,2013.0,1

In [19]:
frederick.head()

,OBJECTID_1,Join_Count,TARGET_FID,Join_Count_1,TARGET_FID_1,MNL_FEA_KE,MNL_FEAT_1,MNL_OWNE_1,Material,Length,...,Breaks_nearby_2013,Breaks_nearby_2014,Breaks_nearby_2015,Breaks_nearby_2016,Breaks_nearby_2017,Breaks_nearby_2018,Breaks_nearby_2019,Breaks_nearby_2020,Break_Yr,Target
0,1,3,1,0,1,2171012,Mainline,Seattle Public Utilities,Concrete,314.79,...,0,0,0,0,0,0,0,0,NaN,0
1,2,3,2,0,2,2178518,Mainline,Seattle Public Utilities,Concrete,363.39,...,0,0,0,0,0,0,0,0,NaN,0
2,3,1,3,0,3,2163634,Mainline,Seattle Public Utilities,Concrete,323.51,...,0,0,0,0,0,0,0,0,NaN,0
3,4,3,4,0,4,2201252,Mainline,Seattle Public Utilities,Vitrified Clay,329.13,...,0,0,0,0,0,0,0,0,NaN,0
4,5,1,5,0,5,2171196,Mainline,Seattle Public Utilities,Reinforced Concrete Pipe,273.64,...,0,0,0,0,0,0,0,0,NaN,0

In [32]:
frederick = frederick[columns]

In [33]:
frederick['Width'] = pd.to_numeric(frederick['Width'], errors='coerce')

In [34]:
dummy_df = pd.get_dummies(frederick)
dummy_df.columns

Index(['TARGET_FID', 'Length', 'Install_year', 'Slope', 'Width',
       'Breaks_nearby_2009', 'Breaks_nearby_2010', 'Breaks_nearby_2011',
       'Breaks_nearby_2012', 'Breaks_nearby_2013', 'Breaks_nearby_2014',
       'Breaks_nearby_2015', 'Breaks_nearby_2016', 'Breaks_nearby_2017',
       'Breaks_nearby_2018', 'Breaks_nearby_2019', 'Breaks_nearby_2020',
       'Break_Yr', 'Target'],
      dtype='object')

In [35]:
dummy_df

,TARGET_FID,Length,Install_year,Slope,Width,Breaks_nearby_2009,Breaks_nearby_2010,Breaks_nearby_2011,Breaks_nearby_2012,Breaks_nearby_2013,Breaks_nearby_2014,Breaks_nearby_2015,Breaks_nearby_2016,Breaks_nearby_2017,Breaks_nearby_2018,Breaks_nearby_2019,Breaks_nearby_2020,Break_Yr,Target
0,1,314.79,1972,0.0,8.0,NaN,0,0,0,0,0,0,0,0,0,0,0,NaN,0
1,2,363.39,1972,4.0,8.0,NaN,0,0,0,0,0,0,0,0,0,0,0,NaN,0
2,3,323.51,1972,4.0,8.0,NaN,0,0,0,0,0,0,0,0,0,0,0,NaN,0
3,4,329.13,1928,6.0,12.0,NaN,0,0,0,0,0,0,0,0,0,0,0,NaN,0
4,5,273.64,1928,4.0,18.0,NaN,0,0,0,0,0,0,0,0,0,0,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71315,56366,282.22,1931,9.0,16.0,NaN,0,0,0,1,0,0,0,0,0,0,0,2013.0,1
71316,40140,149.33,1960,8.0,24.0,NaN,0,0,0,3,0,0,0,0,2,1,0,2013.0,1
71317,62256,330.84,1922,2.0,8.0,NaN,0,0,0,1,0,0,0,0,0,0,0,2013.0,1
71318,54148,79.90,1927,2.0,2.0,NaN,0,0,0,4,0,0,0,0,0,0,0,2013.0,1
71319,30716,409.38,1950,9.0,8.0,NaN,0,0,0,2,0,0,0,0,0,0,0,2013.0,1

In [36]:
dummy_df['Breaks_nearby_2009'] = dummy_df['Breaks_nearby_2009'].fillna(0).astype(int)

In [37]:
dummy_df.columns

Index(['TARGET_FID', 'Length', 'Install_year', 'Slope', 'Width',
       'Breaks_nearby_2009', 'Breaks_nearby_2010', 'Breaks_nearby_2011',
       'Breaks_nearby_2012', 'Breaks_nearby_2013', 'Breaks_nearby_2014',
       'Breaks_nearby_2015', 'Breaks_nearby_2016', 'Breaks_nearby_2017',
       'Breaks_nearby_2018', 'Breaks_nearby_2019', 'Breaks_nearby_2020',
       'Break_Yr', 'Target'],
      dtype='object')

In [38]:
def get_data(df, year):
    """
    Takes in df and filters depending on timeframe (start and end years).
    Returns subset of data for training in timeframe.
    """
    # want to include where there is NOT a break year (those will be our non-broken positive examples --> 'DATE' == 0) - DATE col


    # want to include where break year is in time frame of what we want - DATE col
    filt_df = df[(df['Break_Yr'].isnull()) | (df['Break_Yr'] == year)]

    # exclude installs AFTER time frame window - MNL_INSTAL col
    filt_df = filt_df[(filt_df['Install_year'] <= year)]

    # based on time window, calculate appropriate age of pipes (select beginning year of time frame --> ex: 2009, 2010, 2011
    #       subtract install year from 2009) - MNL_INSTAL col
    # -- will create negative numbers
    filt_df['AGE'] = year - filt_df['Install_year']

    for i in range(1,6):
        if i == 1:
            filt_df[f'Nearby_breaks_{i}yr'] = filt_df[f"Breaks_nearby_{year-i}"]
        else:
            filt_df[f'Nearby_breaks_{i}yr'] = filt_df[f'Nearby_breaks_{i-1}yr'] + filt_df[f'Breaks_nearby_{year-i}']
        print(filt_df[f"Breaks_nearby_{year-i}"].sum())
        print(filt_df[f'Nearby_breaks_{i}yr'].sum())

    

    filt_df['Process_year'] = year

    for i in range(2009, 2021):
        filt_df = filt_df.drop(f"Breaks_nearby_{i}", axis=1)
    
    return filt_df

In [46]:
test_timeframe_df = get_data(dummy_df, 2014)

955
955
570
1525
298
1823
185
2008
566
2574

In [42]:
test_timeframe_df.head()

,TARGET_FID,Length,Install_year,Slope,Width,Break_Yr,Target,AGE,Nearby_breaks_1yr,Nearby_breaks_2yr,Nearby_breaks_3yr,Nearby_breaks_4yr,Nearby_breaks_5yr,Process_year
0,1,314.79,1972,0.0,8.0,NaN,0,42,0,0,0,0,0,2014
1,2,363.39,1972,4.0,8.0,NaN,0,42,0,0,0,0,0,2014
2,3,323.51,1972,4.0,8.0,NaN,0,42,0,0,0,0,0,2014
3,4,329.13,1928,6.0,12.0,NaN,0,86,0,0,0,0,0,2014
4,5,273.64,1928,4.0,18.0,NaN,0,86,0,0,0,0,0,2014

In [47]:
def main_function(dummy_df):
    """
    Takes in dummy dataframe and runs all functions based on given year ranges.
    Prints out year and accuracy per time range (3 years ranges)
    """
    output_list = []

    for process_year in range(2014, 2021):

    
        output_df = get_data(dummy_df, process_year)
        #num_breaks = output_df[output_df['Target'] == 1]
        #print(num_breaks.shape)
        #print()
        output_list.append(output_df)
        #print(file_name)
        #df = get_data(dummy_df, start_train, end_train)
        #break
    final_data = pd.concat(output_list)
    final_data.to_csv('final_data_5yr.csv', header=True, index=False)

In [48]:
main_function(dummy_df)

955
955
570
1525
298
1823
185
2008
566
2574
784
784
982
1766
575
2341
299
2640
182
2822
874
874
742
1616
978
2594
597
3191
298
3489
899
899
931
1830
775
2605
968
3573
614
4187
863
863
877
1740
878
2618
745
3363
966
4329
688
688
864
1552
884
2436
880
3316
743
4059
776
776
706
1482
856
2338
863
3201
859
4060

In [50]:
final_data = pd.read_csv('final_data_5yr.csv')

In [56]:
final_data.head()

,TARGET_FID,Length,Install_year,Slope,Width,Break_Yr,Target,AGE,Nearby_breaks_1yr,Nearby_breaks_2yr,Nearby_breaks_3yr,Nearby_breaks_4yr,Nearby_breaks_5yr,Process_year
0,1,314.79,1972,0.0,8.0,NaN,0,42,0,0,0,0,0,2014
1,2,363.39,1972,4.0,8.0,NaN,0,42,0,0,0,0,0,2014
2,3,323.51,1972,4.0,8.0,NaN,0,42,0,0,0,0,0,2014
3,4,329.13,1928,6.0,12.0,NaN,0,86,0,0,0,0,0,2014
4,5,273.64,1928,4.0,18.0,NaN,0,86,0,0,0,0,0,2014